<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>如果今天她要分手，别怕，你还有挽回的机会！[哈哈]</string>
	<string>手机也能拍大片，性感陈乔恩</string>
	<string>什么系统不是如此？</string>
	<string>#亚蒙社会观察# 今后，习讲话＜人民日报＞须＂原汁原味＂全文刊出，一年多来多个＂中央声音＂的乱象或将终结？[疑问]</string>
	<string> //@徐昕://@正义女神-惊: [话筒]//@假谴: 这一贴也注定是幸存不了多久，让多一个人看到吧。</string>
	<string>[偷笑] //@Ring花椰菜:就舍不得打 就惯着他吧[挖鼻屎]//@崔西狮:小拳头举起又放下了 说点啥好呢…… //@toto97:@崔西狮 蹦米咋不揍他</string>
	<string>#文化不苦旅# 雄赳赳气昂昂出发，然后...活活被輜 重堵死在路上</string>
	<string>【@北京青年报 三车追尾一人被困 消防员谈话缓解被困人员情绪】10月18日上午,在顺义区发生交通事故,一名男子被困驾驶室。杨镇消防中队接到报警后迅速赶赴现场实施救援,对驾驶室进行破拆,为避免破拆对被困人员造成二次伤害,消防员拿来备用头盔为其戴好,并通过谈话进行心理安慰,5分钟后男子被安全救出。</string>
	<string>吼吼。 //@谷凯:转发微博</string>
	<string>【07:00:00-07:59:59】热门微博热点尽在掌握，猛击链接看更多：http://t.cn/8FHV17v</string>
	<string>太阳或上升白羊座：迎来天蝎座日食，会发现一些事情的真相又或突然将一些事情串联起来（了解到来龙去脉），近期需要注意债务、罚款、投资问题（可能造成破财），留意长辈和个人健康。职场来说，本身可能前期沟通不错，但是因为水天对冲，合作方或同事会出现乌龙事件，让你效率降低。爱情，是不要翻旧账</string>
	<string>推荐一个很好笑的微博，快来关注18姐微博吧！</string>
	<string>鼻毛可以阻挡95%的大颗粒。。。</string>
	<string>回复@文武尽胜:你神经过敏了，是我的前当事人。案件结局比较理想乛//@文武尽胜:确认，定位，你懂得！</string>
	<string>【动物尖叫合辑】[吃惊]猫头鹰这么尖叫、老鼠[哈哈]这么[吃元宵]尖叫、兔子这么尖叫兔子这么尖叫、莫名奇妙的笑到最后！~ http://t.cn/zYBuKZ8</string>
	<string>早…</string>
	<string>誓言，多半源于失言，终于食言。</string>
	<string>[赞]终于挖到了一个非常专业的达人瘦.身类微 博 ！ 泪 每天分享图文、视频教程，更有瘦.身达人专业指导，学习更多健康瘦.身技巧，快来关 注</string>
	<string>爱卿的正能量足以成为统计学的一代宗师了。</string>
	<string>转发微博</string>
</array>
</plist>
